.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul{
        li{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 700px) {
    .paste-btn{
        width: 100vw;
    }
}
