.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul{
        overflow: scroll;
        height: calc(100vh - 30vh - 64px);
        li{
            display: flex;
            justify-content: space-between;
            padding-right: 4px;
        }
    }
}

@media screen and (max-width: 700px) {
    .paste-btn{
        width: 100vw;
    }
}
