.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    ul{
        overflow: scroll;
        height: 100%;
        li{
            display: flex;
            justify-content: space-between;
            padding-right: 4px;
        }
    }
}

.card{
    position: absolute;
    top: 227px;
    height: calc(100% - 230px)!important;
    width: 83vw;
    max-width: 1100px;
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .card{
        position: absolute;
        top: 64px;
        height: calc(100% - 134px)!important;
        width: 98vw!important;
    }
}
 