.home-container{
    // .front-slider{
    //     color: white;
    // }
    display: flex;
    justify-content: center;
    height: calc(100vh - 58px)!important;
    background-size: cover;
    background: transparent;
    .home-item-container{
        width: 1100px;
        .title-text{
            padding-top: 20px;
            padding-left: 15px;
            color: rgba(255, 255, 255, 0.69);
            font-size: 25pt;
            span{
                color: rgb(255, 200, 0);
            }
        }
        p{
            background-color: #00000080;
            margin: 0;
            color: white;
            padding: 15px;
            .sync-icon{
                height: 20px;
            }
            .device-icon{
                color: rgb(255, 200, 0);
                width: 40px;
                height: 40px;
                margin: 0;
            }
        }
        .title-logo{
            padding-left: 15px;
            color: rgb(255, 255, 255);
            font-size: 30pt;
            background-color: rgb(0, 50, 50);
            display: flex;
            align-items: center;
            margin: 0;
            // border-radius: 20px;
            .nav-logo{
                color: aqua;
                width: 40px;
                height: 40px;
                background-color: black;
                border-radius: 50%;
                padding: 5px;
                margin-right: 4px;
            }
        }
        .detail-list{
            padding-left: 15px;
            color: rgb(255, 255, 255);
            font-size: 15pt;
            background-color: rgb(0, 50, 50);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            div{
                display: flex;
                justify-content: space-between;
                p{
                    margin: 0;
                    color: black;
                    padding: 8px;
                    background-color: rgb(255, 200, 0);
                    width: fit-content;
                }
                button{
                    margin-right: 15px;
                }
            }
            li{
                list-style-type: none;
            }
        }
        
    }
}
@media (max-height: 600px) {
    body {
        margin-bottom:60px;
    }
}

footer{
    position:fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        p{
            margin: 0;
            padding: 5px 0 5px 0;
            span{
                color: rgb(255, 200, 0);
            }
        }
        div{
            display: flex;
            flex-direction: row;    
            a{
                margin: 0 10px;
            }
        }
    }
}