.nav-icon {
    color: aqua;
}

.nav-toggle {
    display: flex;
    align-items: center;
}

.avatar {
    margin-left: 5px;
    height: 1.8rem !important;
    width: 1.8rem !important;
}

.account-icon {
    margin-left: 5px;
    color: cornflowerblue;
}

.fullname {
    display: block;
    margin-top: 10px;
    color: white;
}

hr {
    color: aqua;
}

.btn-close{
    background-color: white;
}

.offcanvas {
    min-width: 250px;
    max-width: fit-content;
    background-color: #212529;
    color: #ffffff;
}

.nav-icons{
    width: 25px!important;
    margin-right: 5px;
}

.nav-link{
    display: flex;
    align-items: center;
}

.show-pc{
    display: none;
}

@media (min-width: 992px) {
    .container-fluid {
        max-width: 1100px!important;
    }
    .offcanvas{
        max-width: fit-content;
    }
    .nav-icons{
        display: none!important;
    }
    .show-pc{
        display: block;
    }
    .fullname{
        display: none;
    }
}