.paste-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    width: 80vw;
    .paste-manual{
        display: flex;
        button{
            padding: 14.5px;
            margin-left: 2px;
        }
    }
    .paste-btn{
        height: 100%;
        width:
         100%;
    }
}