.paste-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 80vw;
    .input-btn{
        width: 100%!important;
        height: 100%!important;
    }
    .paste-manual{
        display: flex;
        width: 80%;
        button{
            padding: 14.5px;
            margin-left: 2px;
        }
    }
    div{
        .paste-btn{
            height: 100%;
            width:
             100%;
        }
    }
}

.pasteInput-label{
    color: #ff00c8!important;
    font-weight: bolder;
}

.data-input{
    font-weight: bolder;
    color: #ff00c8!important;
    background-color: #00000094!important;
    border-radius: 4px;
}

body{
    background-image: none;
}

.textInputCopy-icon{
    fill: white!important;
}

.textInput{
    color: white;
}

@media screen and (max-width: 600px) {
    .text-input{
        padding: 10px 10px 5px 10px;
        height: 70px!important;
        position: fixed!important;
        left: 0!important;
        bottom: 0!important;
        width: 100%!important;
        color: white!important;
        text-align: center!important;
    }
}