.signup-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 80px;
    .signup-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgb(0, 114, 129);
        color: white;
    }
}