body{
    /* background-color: rgb(0, 0, 0); */
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 600px) {
    .paste-box{
        width: 98vw!important;
    }
    .card{
        width: 98vw!important;
    }
}
